fastapi
uvicorn[standard]
gunicorn
motor
pydantic[email]
python-multipart
python-jose[cryptography]
bcrypt
python-dotenv
tensorflow-cpu
keras>=3.0.0
pillow
numpy
reportlab
pytest
httpx
cloudinary
google-generativeai
