fastapi
uvicorn[standard]
gunicorn
motor
pydantic[email]
python-multipart
python-jose[cryptography]
bcrypt
python-dotenv
tensorflow
keras>=3.0.0
pillow
numpy
reportlab
python-magic-bin; sys_platform == 'win32'
python-magic; sys_platform != 'win32'
pytest
httpx
cloudinary
google-generativeai
